.about
  +bg-pict("about-bg.jpg")
  color: #ffffff
  text-align: center
  padding-top: 60px
  padding-bottom: 60px

  min-height: 338px

  h2
    +title
    margin: 0 auto 15px

  .line
    margin: 0 auto 13px

  p
    max-width: 750px
    margin: 0 auto 29px