// aside
.aside
  @media screen and (max-width: 886px)
    // hide aside
    display: none
  +bg-pict("aside-bg.jpg")
  display: flex
  flex-direction: column
  justify-content: space-between
  min-width: 390px

  &_badge
    display: flex
    justify-content: center
    padding-top: 48px
    +media(1100px)
      padding-top: 15px
    img
      width: 200px
      height: 200px
      margin-bottom: 25px

.aside_nav
  background-color: rgba(0, 0, 0, 0.3)
  padding: 0 15px 15px
  +anim
  a
    display: block
    height: 60px
    border-bottom: 1px solid rgba(247, 247, 247, 0.25)
    padding-left: 19%
    color: #ffffff
    font-weight: 700
    text-transform: uppercase
    +media(1100px)
      padding-left: 70px

    &:hover
      background-color: rgba(0, 0, 0, 0.15)
      +anim
    &:last-child
      border-bottom: 1px solid rgba(247, 247, 247, 0)

  &-item
    padding-left: 47px
    padding-top: 20px
    display: block
    height: 60px
    background-image: url("../../img/icon/aside-nav-icon.png")
    background-repeat: no-repeat
    background-position-x: 0
    &--fam
      background-position-y: 17px
    &--cri
      background-position-y: -47px
    &--civ  
      background-position-y: -106px
    .fa
      margin-left: 7px
      font-size: $main-font-size * 1px