.contacts
  display: flex
  flex-direction: column
  padding: 
    top: 30px
    bottom: 30px
  border:
    top: 1px solid rgba(255, 255, 255, 0.15)
    bottom:  1px solid rgba(255, 255, 255, 0.15)
  +media(600px)
    flex-direction: row
    justify-content: space-between

// Address
.contacts_address
  text-align: center
  margin-bottom: 25px
  +media(600px)
    width: 210px
    text-align: left
    padding-right: 60px
  +media(716px)
    padding-right: 100px
    margin-bottom: 0
    width: 240px
  span
    text-transform: uppercase
    font-weight: 700
  a
    color: #ffffff
    text-transform: uppercase
    +anim
    &:hover
      text-decoration: underline
      +anim

// Social contacts
.contacts_social
  margin-bottom: 25px
  +media(600px)
    margin-bottom: 0
  p
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 15px
    text-align: center

.icon-social-container
  display: flex
  justify-content: center
.icon-social
  display: block
  border-radius: 50%
  background-color: #4a82c7
  width: 40px
  height: 40px
  margin-right: 5px
  position: relative
  transition: all 0.2s ease
  &:last-child
    margin-right: 0
  &:hover
    background-color: darken(#4a82c7, 10%)
    transition: all 0.2s ease

  // facebook icon
  &--fb::before
    content: "\f09a"
    font-family: 'FontAwesome'
    position: absolute
    color: #ffffff
    font-size: 24px
    left: 13px
    top: 9px
  // a icon
  &--a::before
    content: ""
    background:
      image: url("../img/icon/icon-a.svg")
      position: center
      repeat: no-repeat
    position: absolute
    display: block
    width: 40px
    height: 40px
    left: -2px
    top: 0

.contacts_tel
  text-align: center
  +media(600px)
    width: 210px
    text-align: right
  +media(716px)
    width: 240px
  font-weight: 700
  p
    text-transform: uppercase
  a
    display: block
    color: #ffffff
    font-size: 28 / $main-font-size * 1rem
    line-height: 40 / $main-font-size * 1rem
    // text-align: right
    +media(716px)
      font-size: 35 / $main-font-size * 1rem