.footer
  background-image: linear-gradient(to top, rgba(18, 53, 94, 0.85) 0%, rgba(18, 53, 94, 0.85) 100%), url("../../img/footer-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 0
  border-bottom: 15px solid #365d8a
  padding-top: 60px

  color: #ffffff 