.form_header
  h2
    +title
    margin: 0 auto 15px
    text-align: center
  
  .line
    margin: 0 auto 26px

.form
  margin-bottom: 30px

  .input-field-container
    display: flex
    flex-direction: column
    +media(710px)
      flex-direction: row
      margin: 0 auto 8px
      justify-content: space-between
    p
      width: 100%
      margin: 0 auto 8px
      &:last-child
        // margin-bottom: 0
      +media(710px)
        margin: 0
        width: 100 / 3 * 1%
        margin-right: 29px
        &:last-child
          margin-right: 0
  
  textarea, input
    border: 1px solid #f8f8f8
    border-radius: 5px
    background-color: #ffffff

    font-size: $main-font-size * 1px
    line-height: 20 / $main-font-size * 1rem
    color: #121c28

    padding-left: 53px

  .input-field-container, .form_textarea
    .fa
      color: #365d8a
      position: absolute
      top: 16px
      left: 30px

  p
    position: relative

  input
    height: 45px
    width: 100%
    &::placeholder
      line-height: 20 / $main-font-size * 1rem
      color: #121c28
      font-size: $main-font-size * 1px

// input::before
//   position: absolute
//   content: "\f007"
//   font-family: 'FontAwesome'

textarea
  width: 100%
  padding-top: 13px
  height: 90px
  overflow: auto
  resize: none
  margin-bottom: 30px

  &::placeholder
    line-height: 20 / $main-font-size * 1rem
    color: #121c28
    font-size: $main-font-size * 1px

.form_btn
  .btn
    position: relative
    padding: 0
    padding-left: 34px
  .btn::before
    position: absolute
    content: "\f003"
    font-family: 'FontAwesome'
    left: 46px