.header
  width: 100%
  background-image: linear-gradient(to top, rgba(18, 53, 94, 0.85) 0%, rgba(54, 92, 138, 0.15) 100%), url("../img/hero-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 0
  height: 710px
  +media(600px)
    height: 530px
  +media(716px)  
    height: 564px