.info
  +bg-pict("main-bg.jpg")
  position: relative
  background-position: 50% 0
  .wrapper
    padding: 0
    display: flex
  .line
    display: inline-block

.line-big 
  position: absolute
  @extend .wrapper
  width: 100%
  height: 15px
  top: -15px
  background-color: #365d8a