// Main
.main
  width: 100%
  padding: 32px 16px 18px
  background-color: #fff

  display: flex
  flex-wrap: wrap
  justify-content: space-between

.main_header
  margin-bottom: 25px
  max-width: 780px

  h2
    +title
    margin-bottom: 8px

  .line
    margin-bottom: 8px
    margin: 
      left: auto
      right: auto

.main_nav
  h2
    +title
    margin-bottom: 10px
  .line
    margin-bottom: 8px
  p
    font-weight: 700
    margin-bottom: 6px
    +media(886px)
      margin-bottom: 15px
  nav
    a
      display: block
      color: #464943
      font-weight: 400
      line-height: 30 / $main-font-size * 1rem
      +anim
      +media(886px)
        line-height: 20 / $main-font-size * 1rem
      &:hover 
        text-decoration: underline
        +anim
    
    .fa
      margin-right: 15px
      color: #365d8a
      font-size: $main-font-size * 1px
      +anim
      &:hover
        color: lighten(#365d8a, 30%)
        +anim

.main
  blockquote
    background-color: #f7f7f7
    width: 100%
    padding: 15px 15px 10px
    font-style: italic
    margin-top: 15px
    @media screen and (max-width: 886px) and (min-width: 745px)
      max-width: 360px
    +media(1100px)
      margin-top: 0
      max-width: 360px
      padding: 15px 15px 0
      line-height: 25 / $main-font-size * 1rem
    p
      font-weight: 300
    span
      display: block
      text-align: right
      line-height: 10px
      margin-top: 10px