.navigation
  height: 45px
  background-color: #232323

.menu

  position: relative
  display: flex
  align-items: center
  justify-content: flex-end
  height: 100%
  +media(850px)
    justify-content: center


// Menu
.menu
  &_desk
    display: none
    width: 100%
    padding: 
      left: 15px
      right: 15px
    position: absolute 
    background-color: #1f1f1f
    top: 100%
    z-index: 100
    // Desktop menu
    +media(850px)
      position: static
      display: flex
      justify-content: center
      align-items: center
      padding: 0
 
  &_item
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    // height: 45px
    display: flex
    align-items: center
    padding:
      top: 6px
      bottom: 6px
    // Desktop menu items
    +media(850px) 
      padding:
        top: 0
        bottom: 0
      padding: 
        left: 31 / $main-font-size * 1rem
        right: 31 / $main-font-size * 1rem
      height: 27px
      border-bottom: none
      border-right: 1px solid rgba(255, 255, 255, 0.25)
    &:last-child
      border: none
    &--active
      border-bottom: 3px solid #e7e7e7

    a
      color: #ffffff
      font-weight: 700
      line-height: 20 / $main-font-size * 1rem
      text-transform: uppercase
      border:
        bottom: 3px solid rgba(231, 231, 231, 0%)
        top: 3px solid rgba(231, 231, 231, 0%)
      margin: auto
      +anim
      display: block
      padding: 2px 4px
      &:hover
        border-bottom: 3px solid #e7e7e7
        +anim
      &:focus
        border-bottom: 3px solid #e7e7e7
        +anim

      .fa
        margin-left: 4px
        font-size: $main-font-size * 1px

// Toggle for mobile
.toggleMenu
  margin-right: 15px
  +media(850px)
    display: none

label.toggleMenu
  // +gl2
  cursor: pointer
  &::before
    // +gl0
    line-height: 32px
    content: "\f0c9"
    color: white
    font-family: 'FontAwesome'
    font-size: 35 / $main-font-size * 1rem
    +anim
  &:hover::before
    color: darken(#fff, 50%)
    +anim
  // .fa
  //   font-size: 35 / $main-font-size * 1rem
  //   color: #ffffff
  // &:hover .fa
  //   color: darken(#fff, 50%)
  //   +anim
input.toggleMenu
  display: none
input.toggleMenu:checked ~ .menu_desk
  @media screen and (width-max: 849px)
  display: block
  max-height: 5000px
  transition: max-height 2s ease

input.toggleMenu:checked + label.toggleMenu
  &::before
    // +gl0
    line-height: 32px
    content: "\f00d"
    color: white
    font-family: 'FontAwesome'
    font-size: 35 / $main-font-size * 1rem
    +anim
  &:hover::before
    color: darken(#fff, 50%)
    +anim