.promo
  height: 564px
  .wrapper
    margin-top: 60px
    text-align: center
    color: #ffffff

  &_intro-text
    font-size: 25 / $main-font-size * 1rem
    font-weight: 700
    line-height: 30 / $main-font-size * 1rem
    margin-bottom: 20px

  &_main-text
    font-size: 40 / $main-font-size * 1rem
    line-height: 45 / $main-font-size * 1rem
    font-family: 'Rajdhani'
    font-weight: 700
    letter-spacing: 2px
    text-transform: uppercase
    margin-bottom: 10px
    @media screen and (min-width: 720px)
      font-size: 60 / $main-font-size * 1rem
      line-height: 65 / $main-font-size * 1rem

  .line
    margin: 0 auto 15px  

  &_add-text
    font-size: 20 / $main-font-size * 1rem
    line-height: 26 / $main-font-size * 1rem
    margin-bottom: 15px
    font-weight: 700
    font-style: italic
    @media screen and (min-width: 720px)
      font-size: 25 / $main-font-size * 1rem
      line-height: 30 / $main-font-size * 1rem
