// client reviews
  
.reviews
  padding: 62px 0
  text-align: center

  .line
    margin:
      left: auto
      right: auto
      top: 16px

//slider navigation arrow
.slider-arrow
  // display: block
  // width: 20px
  // &_left
  //   text-align: left
  //   margin-right: 18px
  // &_right
  //   text-align: right
  //   margin-left: 18px
  // &:hover .icon
  //   color: #365d8a

  // .icon
  //   font-size: 20 / $main-font-size * 1rem
  //   font-weight: 500
  //   color: #000000  

  // &--activ
  //   color: #365d8a

//slider navigation
.reviews-slider
  // +gl0
  // max-width: 946px
  // margin: 0 auto

  &_change-part
    // +gl1
    // max-width: 720px
    // margin: 0 auto
    text-align: center

  &_header
    margin-bottom: 30px
  &_bottom
    margin: 30px auto 0


.client
  +gl2
  &__stars
    .fa
      font-size: 14 / $main-font-size * 1rem
      color: #365d8a
      letter-spacing: 1 / $main-font-size * 1rem
  &__name
    font-size: 16 / $main-font-size * 1rem
    font-weight: 700
    line-height: 12 / $main-font-size * 1rem

  &__location
    font-size: 14 / $main-font-size * 1rem
    font-weight: 300


.reviews__slide
  $slide-padd: 80px
  padding: 
    left: $slide-padd
    right: $slide-padd

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a
  background-color: $main-color