.top
  background-color: rgba(35, 35, 35, 0.85)
  color: #ffffff
  +media(600px)
    height: 90px

  .wrapper
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 17px
    height: 100%
    +media(600px)
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding-top: 0
      padding-bottom: 0

  // address Top
  &_adress
    order: 2
    margin-bottom: 15px
    +media(600px)
      order: 1
      // width: 260px
      // padding-right: 100px
      margin-bottom: 0
      text-align: left
    p
      line-height:  15 / $main-font-size * 1rem
      +media(600px)
        line-height: 20 / $main-font-size * 1rem
      span
        margin-bottom: 5px
        display: block
        text-transform: uppercase
        font-weight: 700

  // logo Top
  &_logo
    order: 1
    margin-bottom: 15px
    +media(600px)
      margin-bottom: 0
/*     a
      text-align: center */

  // phone Top
  &_tel-consult
    order: 3
    font-weight: 700
    +media(600px)
      // width: 260px
    p
      line-height: 20 / $main-font-size * 1rem
      text-transform: uppercase
      text-align: right
    a
      display: block
      color: #ffffff
      font-size: 28 / $main-font-size * 1rem
      line-height: 40 / $main-font-size * 1rem
      text-align: right
      +media(716px)
        font-size: 35 / $main-font-size * 1rem