@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, p, button, fieldset, input, ul, li, td, th, button, img, picture, figure, div, section, span, blockquote, hr {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  outline: none; }

button {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent; }

input, select, textarea, fieldset {
  border: none;
  outline: none; }

li, ul {
  list-style: none; }

img, picture {
  display: block; }

.wrapper, .line-big {
  margin: 0 auto;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px; }

html {
  font-size: 15px;
  font-family: "Lato", "Aria", serif;
  font-weight: 400;
  line-height: 1.33333rem;
  color: #232323; }

.line {
  width: 100px;
  height: 3px; }
  .line--white {
    background-color: #f7f7f7; }
  .line--blue {
    background-color: #4a82c7; }

.btn {
  display: block;
  width: 270px;
  height: 60px;
  margin: 0 auto;
  padding: 19px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer; }
  .btn--blue {
    background-color: #4a82c7;
    transition: background-color 0.2s ease; }
    .btn--blue:hover {
      background-color: #3469aa; }
    .btn--blue:active {
      background-color: #3469aa; }
  .btn--transp {
    border: 1px solid #ffffff;
    transition: background-color 0.2s ease; }
    .btn--transp:hover {
      background-color: #1a1a1a; }
    .btn--transp:active {
      background-color: #e6e6e6; }

.header {
  width: 100%;
  background-image: linear-gradient(to top, rgba(18, 53, 94, 0.85) 0%, rgba(54, 92, 138, 0.15) 100%), url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  height: 710px; }
  @media screen and (min-width: 600px) {
    .header {
      height: 530px; } }
  @media screen and (min-width: 716px) {
    .header {
      height: 564px; } }

.top {
  background-color: rgba(35, 35, 35, 0.85);
  color: #ffffff; }
  @media screen and (min-width: 600px) {
    .top {
      height: 90px; } }
  .top .wrapper, .top .line-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 17px;
    height: 100%; }
    @media screen and (min-width: 600px) {
      .top .wrapper, .top .line-big {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
  .top_adress {
    order: 2;
    margin-bottom: 15px; }
    @media screen and (min-width: 600px) {
      .top_adress {
        order: 1;
        padding-right: 100px;
        margin-bottom: 0;
        text-align: left; } }
    .top_adress p {
      line-height: 1rem; }
      @media screen and (min-width: 600px) {
        .top_adress p {
          line-height: 1.33333rem; } }
      .top_adress p span {
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
        font-weight: 700; }
  .top_logo {
    order: 1;
    margin-bottom: 15px; }
    @media screen and (min-width: 600px) {
      .top_logo {
        margin-bottom: 0; } }
  .top_tel-consult {
    order: 3;
    font-weight: 700; }
    .top_tel-consult p {
      line-height: 1.33333rem;
      text-transform: uppercase;
      text-align: right; }
    .top_tel-consult a {
      display: block;
      color: #ffffff;
      font-size: 1.86667rem;
      line-height: 2.66667rem;
      text-align: right; }
      @media screen and (min-width: 716px) {
        .top_tel-consult a {
          font-size: 2.33333rem; } }

.navigation {
  height: 45px;
  background-color: #232323; }

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%; }
  @media screen and (min-width: 850px) {
    .menu {
      justify-content: center; } }

.menu_desk {
  display: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  background-color: #1f1f1f;
  top: 100%;
  z-index: 100; }
  @media screen and (min-width: 850px) {
    .menu_desk {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; } }
.menu_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px; }
  @media screen and (min-width: 850px) {
    .menu_item {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 2.06667rem;
      padding-right: 2.06667rem;
      height: 27px;
      border-bottom: none;
      border-right: 1px solid rgba(255, 255, 255, 0.25); } }
  .menu_item:last-child {
    border: none; }
  .menu_item--active {
    border-bottom: 3px solid #e7e7e7; }
  .menu_item a {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.33333rem;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(231, 231, 231, 0);
    border-top: 3px solid rgba(231, 231, 231, 0);
    margin: auto;
    transition: all 0.2s ease;
    display: block;
    padding: 2px 4px; }
    .menu_item a:hover {
      border-bottom: 3px solid #e7e7e7;
      transition: all 0.2s ease; }
    .menu_item a:focus {
      border-bottom: 3px solid #e7e7e7;
      transition: all 0.2s ease; }
    .menu_item a .fa {
      margin-left: 4px;
      font-size: 15px; }

.toggleMenu {
  margin-right: 15px; }
  @media screen and (min-width: 850px) {
    .toggleMenu {
      display: none; } }

label.toggleMenu {
  cursor: pointer; }
  label.toggleMenu::before {
    line-height: 32px;
    content: "";
    color: white;
    font-family: "FontAwesome";
    font-size: 2.33333rem;
    transition: all 0.2s ease; }
  label.toggleMenu:hover::before {
    color: gray;
    transition: all 0.2s ease; }

input.toggleMenu {
  display: none; }

input.toggleMenu:checked ~ .menu_desk {
  display: block;
  max-height: 5000px;
  transition: max-height 2s ease; }

input.toggleMenu:checked + label.toggleMenu::before {
  line-height: 32px;
  content: "";
  color: white;
  font-family: "FontAwesome";
  font-size: 2.33333rem;
  transition: all 0.2s ease; }
input.toggleMenu:checked + label.toggleMenu:hover::before {
  color: gray;
  transition: all 0.2s ease; }

.promo {
  height: 564px; }
  .promo .wrapper, .promo .line-big {
    margin-top: 60px;
    text-align: center;
    color: #ffffff; }
  .promo_intro-text {
    font-size: 1.66667rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 20px; }
  .promo_main-text {
    font-size: 2.66667rem;
    line-height: 3rem;
    font-family: "Rajdhani";
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media screen and (min-width: 720px) {
      .promo_main-text {
        font-size: 4rem;
        line-height: 4.33333rem; } }
  .promo .line {
    margin: 0 auto 15px; }
  .promo_add-text {
    font-size: 1.33333rem;
    line-height: 1.73333rem;
    margin-bottom: 15px;
    font-weight: 700;
    font-style: italic; }
    @media screen and (min-width: 720px) {
      .promo_add-text {
        font-size: 1.66667rem;
        line-height: 2rem; } }

.info {
  background-image: url("../img/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 0; }
  .info .wrapper, .info .line-big {
    padding: 0;
    display: flex; }
  .info .line {
    display: inline-block; }

.line-big {
  position: absolute;
  width: 100%;
  height: 15px;
  top: -15px;
  background-color: #365d8a; }

.main {
  width: 100%;
  padding: 32px 16px 18px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.main_header {
  margin-bottom: 25px;
  max-width: 780px; }
  .main_header h2 {
    font-family: "Rajdhani";
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 8px; }
  .main_header .line {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto; }

.main_nav h2 {
  font-family: "Rajdhani";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 10px; }
.main_nav .line {
  margin-bottom: 8px; }
.main_nav p {
  font-weight: 700;
  margin-bottom: 6px; }
  @media screen and (min-width: 886px) {
    .main_nav p {
      margin-bottom: 15px; } }
.main_nav nav a {
  display: block;
  color: #464943;
  font-weight: 400;
  line-height: 2rem;
  transition: all 0.2s ease; }
  @media screen and (min-width: 886px) {
    .main_nav nav a {
      line-height: 1.33333rem; } }
  .main_nav nav a:hover {
    text-decoration: underline;
    transition: all 0.2s ease; }
.main_nav nav .fa {
  margin-right: 15px;
  color: #365d8a;
  font-size: 15px;
  transition: all 0.2s ease; }
  .main_nav nav .fa:hover {
    color: #88aad1;
    transition: all 0.2s ease; }

.main blockquote {
  background-color: #f7f7f7;
  width: 100%;
  padding: 15px 15px 10px;
  font-style: italic;
  margin-top: 15px; }
  @media screen and (max-width: 886px) and (min-width: 745px) {
    .main blockquote {
      max-width: 360px; } }
  @media screen and (min-width: 1100px) {
    .main blockquote {
      margin-top: 0;
      max-width: 360px;
      padding: 15px 15px 0;
      line-height: 1.66667rem; } }
  .main blockquote p {
    font-weight: 300; }
  .main blockquote span {
    display: block;
    text-align: right;
    line-height: 10px;
    margin-top: 10px; }

.aside {
  background-image: url("../img/aside-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 390px; }
  @media screen and (max-width: 886px) {
    .aside {
      display: none; } }
  .aside_badge {
    display: flex;
    justify-content: center;
    padding-top: 48px; }
    @media screen and (min-width: 1100px) {
      .aside_badge {
        padding-top: 15px; } }
    .aside_badge img {
      width: 200px;
      height: 200px;
      margin-bottom: 25px; }

.aside_nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 15px 15px;
  transition: all 0.2s ease; }
  .aside_nav a {
    display: block;
    height: 60px;
    border-bottom: 1px solid rgba(247, 247, 247, 0.25);
    padding-left: 19%;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; }
    @media screen and (min-width: 1100px) {
      .aside_nav a {
        padding-left: 70px; } }
    .aside_nav a:hover {
      background-color: rgba(0, 0, 0, 0.15);
      transition: all 0.2s ease; }
    .aside_nav a:last-child {
      border-bottom: 1px solid rgba(247, 247, 247, 0); }
  .aside_nav-item {
    padding-left: 47px;
    padding-top: 20px;
    display: block;
    height: 60px;
    background-image: url("../../img/icon/aside-nav-icon.png");
    background-repeat: no-repeat;
    background-position-x: 0; }
    .aside_nav-item--fam {
      background-position-y: 17px; }
    .aside_nav-item--cri {
      background-position-y: -47px; }
    .aside_nav-item--civ {
      background-position-y: -106px; }
    .aside_nav-item .fa {
      margin-left: 7px;
      font-size: 15px; }

.about {
  background-image: url("../img/about-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 338px; }
  .about h2 {
    font-family: "Rajdhani";
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 auto 15px; }
  .about .line {
    margin: 0 auto 13px; }
  .about p {
    max-width: 750px;
    margin: 0 auto 29px; }

.reviews {
  padding: 62px 0;
  text-align: center; }
  .reviews .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px; }

.slider-arrow {
  display: block;
  width: 20px; }
  .slider-arrow_left {
    text-align: left;
    margin-right: 18px; }
  .slider-arrow_right {
    text-align: right;
    margin-left: 18px; }
  .slider-arrow:hover .icon {
    color: #365d8a; }
  .slider-arrow .icon {
    font-size: 1.33333rem;
    font-weight: 500;
    color: #000000; }
  .slider-arrow--activ {
    color: #365d8a; }

.reviews-slider_change-part {
  text-align: center; }
.reviews-slider_header {
  margin-bottom: 30px; }
.reviews-slider_bottom {
  margin: 30px auto 0; }

.client {
  position: relative;
  box-shadow: 0 0 0 2px #ff2d52;
  background: rgba(255, 45, 82, 0.1); }
  .client__stars .fa {
    font-size: 0.93333rem;
    color: #365d8a;
    letter-spacing: 0.06667rem; }
  .client__name {
    font-size: 1.06667rem;
    font-weight: 700;
    line-height: 0.8rem; }
  .client__location {
    font-size: 0.93333rem;
    font-weight: 300; }

.reviews__slide {
  padding-left: 80px;
  padding-right: 80px; }

.reviews {
  padding: 62px 0;
  text-align: center; }
  .reviews .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px; }

.reviews-slider_change-part {
  text-align: center; }
.reviews-slider_header {
  margin-bottom: 30px; }
.reviews-slider_bottom {
  margin: 30px auto 0; }

.client {
  position: relative;
  box-shadow: 0 0 0 2px #ff2d52;
  background: rgba(255, 45, 82, 0.1); }
  .client__stars .fa {
    font-size: 0.93333rem;
    color: #365d8a;
    letter-spacing: 0.06667rem; }
  .client__name {
    font-size: 1.06667rem;
    font-weight: 700;
    line-height: 0.8rem; }
  .client__location {
    font-size: 0.93333rem;
    font-weight: 300; }

.reviews__slide {
  padding-left: 80px;
  padding-right: 80px; }

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #4a82c7; }

.footer {
  background-image: linear-gradient(to top, rgba(18, 53, 94, 0.85) 0%, rgba(18, 53, 94, 0.85) 100%), url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  border-bottom: 15px solid #365d8a;
  padding-top: 60px;
  color: #ffffff; }

.form_header h2 {
  font-family: "Rajdhani";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0 auto 15px;
  text-align: center; }
.form_header .line {
  margin: 0 auto 26px; }

.form {
  margin-bottom: 30px; }
  .form .input-field-container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 710px) {
      .form .input-field-container {
        flex-direction: row;
        margin: 0 auto 8px;
        justify-content: space-between; } }
    .form .input-field-container p {
      width: 100%;
      margin: 0 auto 8px; }
      @media screen and (min-width: 710px) {
        .form .input-field-container p {
          margin: 0;
          width: 33.33333%;
          margin-right: 29px; }
          .form .input-field-container p:last-child {
            margin-right: 0; } }
  .form textarea, .form input {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 1.33333rem;
    color: #121c28;
    padding-left: 53px; }
  .form .input-field-container .fa, .form .form_textarea .fa {
    color: #365d8a;
    position: absolute;
    top: 16px;
    left: 30px; }
  .form p {
    position: relative; }
  .form input {
    height: 45px;
    width: 100%; }
    .form input::placeholder {
      line-height: 1.33333rem;
      color: #121c28;
      font-size: 15px; }

textarea {
  width: 100%;
  padding-top: 13px;
  height: 90px;
  overflow: auto;
  resize: none;
  margin-bottom: 30px; }
  textarea::placeholder {
    line-height: 1.33333rem;
    color: #121c28;
    font-size: 15px; }

.form_btn .btn {
  position: relative;
  padding: 0;
  padding-left: 34px; }
.form_btn .btn::before {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  left: 46px; }

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  @media screen and (min-width: 600px) {
    .contacts {
      flex-direction: row;
      justify-content: space-between; } }

.contacts_address {
  text-align: center;
  margin-bottom: 25px; }
  @media screen and (min-width: 600px) {
    .contacts_address {
      width: 210px;
      text-align: left;
      padding-right: 60px; } }
  @media screen and (min-width: 716px) {
    .contacts_address {
      padding-right: 100px;
      margin-bottom: 0;
      width: 240px; } }
  .contacts_address span {
    text-transform: uppercase;
    font-weight: 700; }
  .contacts_address a {
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.2s ease; }
    .contacts_address a:hover {
      text-decoration: underline;
      transition: all 0.2s ease; }

.contacts_social {
  margin-bottom: 25px; }
  @media screen and (min-width: 600px) {
    .contacts_social {
      margin-bottom: 0; } }
  .contacts_social p {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center; }

.icon-social-container {
  display: flex;
  justify-content: center; }

.icon-social {
  display: block;
  border-radius: 50%;
  background-color: #4a82c7;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  transition: all 0.2s ease; }
  .icon-social:last-child {
    margin-right: 0; }
  .icon-social:hover {
    background-color: #3469aa;
    transition: all 0.2s ease; }
  .icon-social--fb::before {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    left: 13px;
    top: 9px; }
  .icon-social--a::before {
    content: "";
    background-image: url("../img/icon/icon-a.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: -2px;
    top: 0; }

.contacts_tel {
  text-align: center;
  font-weight: 700; }
  @media screen and (min-width: 600px) {
    .contacts_tel {
      width: 210px;
      text-align: right; } }
  @media screen and (min-width: 716px) {
    .contacts_tel {
      width: 240px; } }
  .contacts_tel p {
    text-transform: uppercase; }
  .contacts_tel a {
    display: block;
    color: #ffffff;
    font-size: 1.86667rem;
    line-height: 2.66667rem; }
    @media screen and (min-width: 716px) {
      .contacts_tel a {
        font-size: 2.33333rem; } }

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }



/*# sourceMappingURL=style.css.map */