<section class="reviews">
  <div class="wrapper">
    <div class="reviews-slider">

      <!-- navigation arrow left -->
      <!-- <a href="#" class="slider-arrow slider-arrow_left" role="navigation">
            <i class="icon ion-chevron-left"></i>
          </a> -->

      <div class="reviews-slider_content">
        <div class="reviews-slider_header">
          <h2>Client Reviews</h2>
          <hr class="line line--blue">
        </div>

        <!-- plug jQuery lightSlider -->
        <ul class="reviews-slider_change-part" id="lightSlider">

          <!-- 1st slide -->
          <li>
            <div class="reviews-slider_text">
              <p>Adrian is an amazing attorney with many years of experience in the legal field. He will provide his clients
                with some of the best legal representation in the South Florida area.</p>
            </div>
            <div class="reviews-slider_bottom">
              <div class="client__stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="client__name">Lil John</p>
              <p class="client__location">New York</p>
            </div>
          </li>

          <!-- 2st slide -->
          <li>
            <div class="reviews-slider_text">
              <p>Anim occaecat voluptate incididunt nulla reprehenderit amet non amet dolore consectetur anim id magna sit.
                Anim qui incididunt amet officia. Labore reprehenderit esse ipsum sint voluptate. Nulla enim irure sit commodo
                consectetur excepteur aute aliquip ea aliquip esse ex dolore.</p>
            </div>
            <div class="reviews-slider_bottom">
              <div class="client__stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="client__name">Laudantium d Vitae</p>
              <p class="client__location">Quos Recusandae</p>
            </div>
          </li>

        </ul>
        <!--end reviews_slider-change-part-->
      </div>
      <!--end reviews_slider-content-->

      <!-- navigation arrow right -->
      <!-- <a href="#" class="slider-arrow slider-arrow_right slider-arrow--activ" role="navigation">
            <i class="icon ion-chevron-right"></i>
          </a> -->

    </div>
    <!--end reviews-slider-->
  </div>
  <!--end wrapper-->
</section>
<!--end reviews-->