.wrapper
  margin: 0 auto
  max-width: 1170px
  padding: 
    right: 15px
    left: 15px

$main-font-size: 15
$blue: #4a82c7
$main-color: $blue

html 
  font:
    size: $main-font-size + px
    family: 'Lato', 'Aria', serif
    weight: 400
  line-height: 20 / $main-font-size * 1rem
  color: #232323

.line
  width: 100px
  height: 3px
  &--white  
    background-color: #f7f7f7
  &--blue
    background-color: $main-color

.btn
  display: block
  width: 270px
  height: 60px
  margin: 0 auto
  padding: 19px 0 0

  color: #ffffff
  text-transform: uppercase
  font-weight: 700

  cursor: pointer

  &--blue
    background-color: $main-color
    transition: background-color 0.2s ease
    &:hover
      background-color: darken($main-color, 10%)
    &:active
      background-color: darken($main-color, 10%)

  &--transp
    border: 1px solid #ffffff
    transition: background-color 0.2s ease
    &:hover
      background-color: darken(#ffffff, 90%)
    &:active
      background-color: darken(#ffffff, 10%)

=title
  font:
    family: 'Rajdhani'
    size: 30 / $main-font-size * 1rem
    weight: 700
  line-height: 30 / $main-font-size * 1rem

// style for background
=bg-pict($pict)
  background:
    image: url("../img/#{$pict}")
    position: center
    repeat: no-repeat
    size: cover

=anim
  transition: all 0.2s ease


// media quires
$lg: 1024px
// 7' Tablet 600px
$md: 576px 
// mobile iPhone 5 320px
$sm: 320px

// transition point for media queries
=media($width)
  @media screen and (min-width: $width)
    @content