html, body, h1, h2, h3, h4, h5, h6, p, button, fieldset, input, ul, li, td, th, button, img, picture, figure, div, section, span, blockquote, hr
  margin: 0
  padding: 0

html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

html, body
  height: 100%

// сброс настроек ссылок
// links reset settings
a
  text-decoration: none
  outline: none


// сброс настроек button
// button reset settings
button
  // display: inline-block
  text:
    align: center
    decoration: none
  border: none
  outline: none
  background-color: transparent

input, select, textarea, fieldset
  border: none
  outline: none

// сброс настроек списков
//list reset settings
li, ul
  list-style: none

img, picture
  display: block